<%- include ('includes/header') %>

<div style="font-size: 40px; color: aliceblue;">Product Page</div>
<div style="font-size: 40px; color: aliceblue;"><%=member.memberNick%></div>
<div class="card" style="width: 18rem;">
  <img src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</body>
<%- include ('includes/footer') %>